<div class="header col-12 row">
    <div class="links col-12 col-lg-8 text-lg-left">
        <a class="col-12 col-lg-3" href="/"><img title="Home" class="home" src="/logoicon.jpg"></a>
        <a class="col-12 col-lg-3" href="tags.html">Tags</a>
        <a class="col-12 col-lg-3" href="users.html">Users</a>
        <a class="col-12 col-lg-3" href="trending.html">Trending</a>
    </div>
    <div class="user col-12 col-lg-4 text-lg-right">
        <a class="col-12 col-lg-6" href="#"><i class="fas fa-user-circle"></i></a>
        <a class="col-12 col-lg-6" href="#"><i class="fas fa-power-off"></i></a>
    </div>
</div>
