$warm-black: #0B3948;
$deep-space-sparkle: #416165;
$silver-chalice: #ACB0BD;

$light-gray: #D4D1DA;
$light-gray-dark: #D0CDD7;

$azureish-white: #DCDEF2;
$azureish-white-light: #DFE1F3;
$azureish-white-dark: #D9DBF1;

$black: #000000;
$white: #FFFFFF;